<div class="row">
  <div class="col-lg-4 col-md-6" th:each="product : ${products}">
    <div class="single-product">
      <div class="product-img">
        <a th:href="@{/product/details/{id}(id=${product.id})}">
          <img th:src="${product.image}" alt="Image" class="primary-img">
        </a>
      </div>
      <div class="product-price">
        <span th:text="'$' + ${product.price}"></span>
        <div class="product-name">
          <a th:href="@{/product/details/{id}(id=${product.id})}" th:text="${product.title}"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Phân trang -->
<div class="pagination">
  <a href="#" th:href="@{/category/{id}(id=${categoryId}, page=${pagination.previousPage}, size=6)}">Previous</a>
  <span th:text="${pagination.currentPage + 1}"></span> / <span th:text="${pagination.totalPages}"></span>
  <a href="#" th:href="@{/category/{id}(id=${categoryId}, page=${pagination.nextPage}, size=6)}">Next</a>
</div>